.list li {
    line-height: 325%
}
.build-link {
    text-align: center;
}
.jumbotron {
    margin-top: -20px;
}
#wrapper {
    padding-left: 250px;
    transition: all 0.4s ease 0s;
}
#sidebar-wrapper {
    margin-left: -250px;
    left: 250px;
    width: 250px;
    background: #000;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.4s ease 0s;
}
#page-content-wrapper {
    width: 100%;
}
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.sidebar-nav li {
    line-height: 40px;
    text-indent: 20px;
}
.sidebar-nav li a {
    color: #999999;
    display: block;
    text-decoration: none;
}
.sidebar-nav li a:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
    text-decoration: none;
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
    height: 65px;
    line-height: 60px;
    font-size: 18px;
}
.sidebar-nav > .sidebar-brand a {
    color: #999999;
}
.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
.content-header {
    height: 65px;
    line-height: 65px;
}
.content-header h1 {
    margin: 0;
    margin-left: 20px;
    line-height: 65px;
    display: inline-block;
}
#menu-toggle {
    display: none;
}
.inset {
    padding: 20px;
}
@media (max-width: 767px) {
    #wrapper {
        padding-left: 0;
    }
    #sidebar-wrapper {
        left: 0;
    }
    #wrapper.active {
        position: relative;
        left: 250px;
    }
    #wrapper.active #sidebar-wrapper {
        left: 250px;
        width: 250px;
        transition: all 0.4s ease 0s;
    }
    #menu-toggle {
        display: inline-block;
    }
    .inset {
        padding: 15px;
    }
}
.footer {
    padding-left: 250px;
    margin: auto;
    height: auto;
    width: 100%;
    background-color: #303030;
    position: fixed;
    bottom: 0pt;
    left: 0pt;
}
.footer_contents {
    height: auto;
    width: 100%;
    margin: auto;
}
#codebox {
    position: absolute;
    left: 250px;
    right: 0;
    top: 0;
    height: 100%;
}
#codeboxiframe {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
}
#loader {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 100%;
}
/* Please wait: https://github.com/Zoddy/pleaseWait/ */
#rotator {
    height: 200px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 200px;
}
#rotator > div {
    -webkit-animation-direction: normal;
    -moz-animation-direction: normal;
    -o-animation-direction: normal;
    animation-direction: normal;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: rotator;
    -moz-animation-name: rotator;
    -o-animation-name: rotator;
    animation-name: rotator;
    -webkit-animation-play-state: inherit;
    -moz-animation-play-state: inherit;
    -o-animation-play-state: inherit;
    animation-play-state: inherit;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
    box-sizing: border-box;
    -webkit-box-shadow: 0 0 15px #4fa0ec;
    -moz-box-shadow: 0 0 15px #4fa0ec;
    -o-box-shadow: 0 0 15px #4fa0ec;
    box-shadow: 0 0 15px #4fa0ec;
    border: 2px solid #2187e7;
    border-left: 2px solid #000;
    border-radius: 50%;
    position: absolute;
}
#rotator .rotatorOne {
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    -o-animation-delay: 0.2s;
    animation-delay: 0.2s;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}
#rotator .rotatorTwo {
    -webkit-animation-name: rotatorReverse;
    -moz-animation-name: rotatorReverse;
    -o-animation-name: rotatorReverse;
    animation-name: rotatorReverse;
    -webkit-animation-duration: 1.4s;
    -moz-animation-duration: 1.4s;
    -o-animation-duration: 1.4s;
    animation-duration: 1.4s;
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    -o-animation-delay: 0.4s;
    animation-delay: 0.4s;
    height: 80%;
    left: 10%;
    top: 10%;
    width: 80%;
}
#rotator .rotatorThree {
    -webkit-animation-delay: 0.6;
    -moz-animation-delay: 0.6;
    -o-animation-delay: 0.6;
    animation-delay: 0.6;
    -webkit-animation-duration: 1.7s;
    -moz-animation-duration: 1.7s;
    -o-animation-duration: 1.7s;
    animation-duration: 1.7s;
    height: 60%;
    left: 20%;
    top: 20%;
    width: 60%;
}
@-moz-keyframes rotator {
    0% {
        -webkit-transform: rotateZ(0deg);
        -moz-transform: rotateZ(0deg);
        -o-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(360deg);
        -moz-transform: rotateZ(360deg);
        -o-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}
@-webkit-keyframes rotator {
    0% {
        -webkit-transform: rotateZ(0deg);
        -moz-transform: rotateZ(0deg);
        -o-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(360deg);
        -moz-transform: rotateZ(360deg);
        -o-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}
@-o-keyframes rotator {
    0% {
        -webkit-transform: rotateZ(0deg);
        -moz-transform: rotateZ(0deg);
        -o-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(360deg);
        -moz-transform: rotateZ(360deg);
        -o-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}
@-ms-keyframes rotator {
    0% {
        -webkit-transform: rotateZ(0deg);
        -moz-transform: rotateZ(0deg);
        -o-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(360deg);
        -moz-transform: rotateZ(360deg);
        -o-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}
@keyframes rotator {
    0% {
        -webkit-transform: rotateZ(0deg);
        -moz-transform: rotateZ(0deg);
        -o-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(360deg);
        -moz-transform: rotateZ(360deg);
        -o-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}
@-moz-keyframes rotatorReverse {
    0% {
        -webkit-transform: rotateZ(0deg);
        -moz-transform: rotateZ(0deg);
        -o-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(-360deg);
        -moz-transform: rotateZ(-360deg);
        -o-transform: rotateZ(-360deg);
        transform: rotateZ(-360deg);
    }
}
@-webkit-keyframes rotatorReverse {
    0% {
        -webkit-transform: rotateZ(0deg);
        -moz-transform: rotateZ(0deg);
        -o-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(-360deg);
        -moz-transform: rotateZ(-360deg);
        -o-transform: rotateZ(-360deg);
        transform: rotateZ(-360deg);
    }
}
@-o-keyframes rotatorReverse {
    0% {
        -webkit-transform: rotateZ(0deg);
        -moz-transform: rotateZ(0deg);
        -o-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(-360deg);
        -moz-transform: rotateZ(-360deg);
        -o-transform: rotateZ(-360deg);
        transform: rotateZ(-360deg);
    }
}
@-ms-keyframes rotatorReverse {
    0% {
        -webkit-transform: rotateZ(0deg);
        -moz-transform: rotateZ(0deg);
        -o-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(-360deg);
        -moz-transform: rotateZ(-360deg);
        -o-transform: rotateZ(-360deg);
        transform: rotateZ(-360deg);
    }
}
@keyframes rotatorReverse {
    0% {
        -webkit-transform: rotateZ(0deg);
        -moz-transform: rotateZ(0deg);
        -o-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(-360deg);
        -moz-transform: rotateZ(-360deg);
        -o-transform: rotateZ(-360deg);
        transform: rotateZ(-360deg);
    }
}

